.App {
  text-align: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1e3c72, #2a5298); /* Gradient background */
    color: rgb(0, 0, 0); /* Ensure text is visible on dark background */
    font-family: Arial, sans-serif;
    padding: 20px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
