.header {
    /*background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;*/
    margin-top: 60px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.header h1 {
    margin: 0;
}
